[Unit]
Description=Remote button service

[Service]
ExecStart=bash -c ${USB_BUTTON_HOME}/usb_button.sh
Type=simple
Restart=always

[Install]
WantedBy=default.target
